* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #f8f7f7;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
}

nav ul {
  list-style: none;
}

nav ul {

  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #f00;
  color: #333;
  border-radius: 8px;
  font-weight: bold;
}

nav ul li a.help {
  background: #4CAF50;
  color: #fff;
  border: 1px solid #4CAF50
}



.banner {
  padding-left: 55px;
  padding-top: 35px;
  font-size: 40px;
  justify-content: space-evenly;
  display: flex;
}



.banner div span {
  display: flex;
  display: block;

}


.banner p {
  font-size: large;
  color: #575454;
  padding-top: 35px;

}

.b1 {
  background-color: black;
  color: #fff;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 500;

}



.underbanner {
  background-color: #4CAF50;
  width: 70%;
  margin-left: 15%;
  margin-top: 7%;
  display: flex;

  padding: 38px;
  border-radius: 7px;
  justify-content: space-around;

}

.underbanner P {
  font-size: 20px;
}

.underbanner button {

  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
  color: #fff;
}

.underbanner input {
  border-radius: 9px;
}





.howtere p span {
  color: #4CAF50;
  
}
.howtere p {
  font-size: 40px;
  font-weight: bold;
  margin-left: 42%;
  margin-top: 2%;
}

.howtere small{

margin-left: 25%;
font-size: 15px;

}


.features  {

 display: flex;
flex-direction: row;
   padding-left: 13%;
 padding-top: 5%;

 

 
 }



.instant{
  padding-top: 29%;
 
  
}


.post {
  position: relative;
  bottom: 60%;
  left: 180%;
  
}

.postimg {
position: relative;
bottom: 60%;
}

.cash{
  position: relative;
  bottom: 45%;
  left: 180%;
}

.cashimg{
  position: relative;
bottom: 45%;
left: 180%;
}



.tereben{
  margin-left: 43%;
  font-size: 35px;
  
}

.tereben h3  span {
  color: #4CAF50;
}


.workhourdiv p{
color: #575454;
font-size: 22px;

}

.workhourdiv h2{
  font-size: 35px;
  color: #0e0d0d;
}

.workhour{
display: flex;
justify-content: space-around;
}


.money {
  margin-top: 2%;
  display: flex;
justify-content: space-around;
}


.money div h2{
  font-size:35px ;
}

.money div div p {
  color: #575454;
font-size: 22px;

}



.care{
  display: flex;
justify-content: space-around;
}

.carediv h2 {
font-size: 35px;
  color: #0e0d0d;
}

.carediv p {
  color: #575454;
font-size: 22px;
}


.foot{
  display: flex;
  justify-content: space-between;
  width: 80%;
 
  
  margin: 10%;
}

.down {
  display: flex;
  align-items: center;
  gap: 35%;
  padding-right: 6%;
  
 }

 .down button {
background-color: #000000;
color: #fff;
padding: 7%;
padding-left: 10%;
border-radius: 8%;
padding-right: 10%;
 }





 .footimg{
  display: flex;
  align-items: center;
}